<main class="main">
    <article class="post-single">
        <header class="post-header">
            <h1 class="post-title">About Me</h1>
        </header>
        <div class="post-content"><img loading="lazy" decoding="async" width="100px" title="Common profile image you will see everywhere" src="https://avatars.githubusercontent.com/u/21258296?v=4" alt="Common profile image for online presence" style="float:right;margin:10px;border-radius:12px">
            <p>Hi, I’m Aditya <input type="button" title="Click to play" value="(ɑːd̪it̪tjə)" onclick="play()" style="color:var(--secondary)">.
                I’m from Mumbai, India
                <img class="in-text" height="18" src="https://abs-0.twimg.com/emoji/v2/svg/1f1ee-1f1f3.svg" alt=""></p>
            <p>Currently working as <a href="https://www.linkedin.com/in/adityatelange/details/experience/" title="Login required to view Linkedin Page">Pentester (A.S.E) @ Tata Consultancy Services</a> (full-time), since July 2021.</p>
            <p>This is a personal blog to share about stuff I learn, which also acts a portfolio.
                You can checkout <a href="https://adityatelange.in/archive">Archive</a> page to get a list of posts or can use <a href="https://adityatelange.in/search">Search</a> / <a href="https://adityatelange.in/tags">Tags</a> to find pages about specific keywords.</p>
            <ul>
                <li>
                    <p><a href="https://adityatelange.in/contact"><strong>Contact Me?</strong></a></p>
                </li>
                <li>
                    <p><strong>Few Interesting pages</strong></p>
                    <ul>
                        <li><a href="https://adityatelange.in/links/">Link Tree</a> for all my social media profiles.</li>
                        <li><a href="https://adityatelange.in/writeups/">Write-ups</a> on various CTF challenges.</li>
                        <li><a href="https://adityatelange.in/projects/">Personal Projects</a> built in free time and during weekends.</li>
                        <li><a href="https://adityatelange.in/timeline/">Timeline</a> of achievements.</li>
                        <li><a href="https://adityatelange.in/education/">Education and Certifications</a> which includes courses completed.</li>
                    </ul>
                </li>
            </ul>
            <p></p>
            <details>
                <summary markdown="span">Other Pages you can visit..</summary>
                <ul>
                    <li><a href="https://adityatelange.in/favoritequotes/">Favorite Quotes</a></li>
                </ul>
            </details>
            <p></p>
            <script>
                function play() {
                    var e = document.getElementById("audio");
                    e.play()
                }
            </script>
            <p><audio id="audio" src="https://adityatelange.in/assets/ɑːd̪it̪tjə.mp3"></audio></p>
        </div>
        <footer class="post-footer">
            <ul class="post-tags"></ul>
        </footer>
    </article>
</main>